html {
    background-color: #153640;
    font-family: Helvetica;
   text-align: center;
   
}

h1 {
    font-size: 50px;
    color:#659DBD;
    text-align: center;
    font-family: Helvetica;
    border: 2mm;
    border-style: double;
    
}

h2 {
    font-size: 25px;
    text-align: left;
    text-indent: 5px;
    color: white;
    text-decoration: underline;
    text-align: center;
}

body {
    font-size: 20px;
    color: whitesmoke;
}

.card {
    background: #205160;
    text-align: center;
    width: 800px;
    height: 1550px;
    margin:auto;
    border: 2px;
    border-color: black;
    border-style: solid;
}
.submit {
    background: #233f47;
    text-align: center;
    width: 800px;
    height: 30px;
    margin:auto;
    border: 1px;
    border-style: solid;
    border-color: black;
}

.pad {
    border: 0.5px;
    border-style: solid;
    border-color: white;
    height: 200px;
}